.faq-container {
    background-color: rgba(39, 48, 52, 0.658);
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}
.question-container {
    display: flex;
    justify-content: space-around;
    min-height: 300px;
}
.question {
    width: 20%;
}

.question h4 {
    padding-bottom: 20px;
}
.question > p {
    font-size: 14px;
}

.faq-title {
    text-align: center;
    padding-bottom: 30px;
}

/* svg {
    margin-bottom: -24px;
} */
.wave-top {
    margin-bottom: -20px;
}
