/* ---------------------------Forest Ecosystem----------------- */

.ecosystem {
    margin: 40px;
    /* margin to the entire body page */
}

.about {
    background-image: linear-gradient(
            rgba(1, 0, 0, 0.8),
            rgba(214, 214, 214, 0.1)
        ),
        url(../assets/img/background3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 8px 8px white inset;
    background-position: 40% 60%;
    /* how much the image is positioned up or down */
    display: flex;
    flex-direction: row;
    
    height:auto;
    /* container height can be adjusted after the content inside, so it can be boosted if the content is bigger than the min-height dimension */
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.text {
    width: 50%;
    padding: 30px;
}

.about h1,
h2 {
    color: #ffffff;
    text-align: center;
}

hr {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.about p {
    text-indent: 20px;
    color: #ffffff;
    text-align: justify;
}

.forest-images {
    position: relative;
    top: 30px;
    display: grid;
    grid-template-columns: 1 fr;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
}

.forest-images img {
    height: 200px;
    width: 300px;
    border: 2px solid #ffffff;
}

.tropical {
    position: relative;
    top: 50px;
    z-index: 1;
    /* element with lower stack order is behind an element with a bigger stack order*/
}

.temperate {
    position: relative;
    bottom: 30px;
    left: 200px;
    z-index: 2;
    /* the element has a greater stack order so is always in front of an element with a lower stack order*/
}

.boreal {
    position: relative;
    bottom: 90px;
    z-index: 1;
}

.types {
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#special {
    padding: 20px;
    font-size: 40px;
    font-style: italic;
    text-align: center;
    color: #0a7f25;
}

.fa-solid {
    color: #0a7f25;
}

.types p {
    text-indent: 20px;
    text-align: justify;
    font-size: 15px;
}

.types-forest {
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(0, 0, 0);
}

.trop:nth-child(odd) {
    /* the children element from odd position is changed in reverse mode. */

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.trop {
    margin: 10px;
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.trop img {
    float: left;
    height: 200px;
    width: 300px;
    border: 2px solid #000000;
    margin: 10px;
}

.biom-text {
    text-align: justify;
    text-indent: 20px;
}

.title-type {
    padding: 20px;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    color: #0a7f25;
    font-weight: bold;
}

.list-trees {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: self-start;
    margin: 30px;
    padding: 20px;
}

.sametitle {
    padding: 20px;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    color: #0a7f25;
}

.list-trees ul li {
    list-style-type: none;
}

.list-trees ul li a {
    text-decoration: none;
    color: #000000;
}

.list-trees ul li a:hover {
    color: rgba(14, 16, 117, 0.83);
}

.functions {
    width: 300px;
    min-height: 300px;
    padding: 10px;
    box-shadow: 0px 0px 28px #0000ff;
    background-color: #ffffff;
    border-radius: 10%;
}

.fa-regular {
    color: #61efff;
}

#my-pie-chart-container {
    display: flex;
    flex-wrap: wrap;
    /* layout depends on the element's size and the flex-wrap property put the elements how it considers */
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 40px;
    padding: 10px;
}
.status-trends {
    text-indent: 20px;
    text-align: justify;
    order: -1;
    /* elements with order property lower is on the first position in container */
}

#my-pie-chart {
    margin: 10px;
    float: left;
    background: conic-gradient(
        rgb(7, 98, 7) 0% 20%,
        rgb(169, 149, 33) 20% 32%,
        rgb(148, 142, 142) 32% 41%,
        rgb(208, 63, 10) 41% 49%,
        rgb(3, 40, 3) 49% 54%,
        #10aa34 54% 57%,
        #67fc89 57% 59%,
        #4c0c0c 59% 61%,
        #27cddf 61% 63%,
        #614040 63% 65%,
        #232e93 65% 67%
    );
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
#title-pie p {
    margin: 10px;
    text-align: center;
}
#legenda {
    margin-left: 20px;
    padding-left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    margin-bottom: 10px;
    border: 2px solid #0a7f25;
}
.entry {
    padding: 5px;
    font-size: 10px;
    display: flex;
    align-items: center;
}

.entry-color {
    height: 10px;
    width: 10px;
    /* create div element which look like a square with 10x10 and indicate the color from pie-chart */
}
.entry-text {
    margin-left: 5px;
}
#color-green-3 {
    background-color: rgb(7, 98, 7);
}
#color-yellow {
    background-color: rgb(169, 149, 33);
}
#color-grey {
    background-color: rgb(148, 142, 142);
}
#color-orange {
    background-color: rgb(208, 63, 10);
}
#color-green-4 {
    background-color: rgb(3, 40, 3);
}
#color-green-2 {
    background-color: #10aa34;
}
#color-green-1 {
    background-color: #67fc89;
}
#color-bordo {
    background-color: #4c0c0c;
}
#color-baby-blue {
    background-color: #27cddf;
}
#color-brown {
    background-color: #614040;
}
#color-blue-marine {
    background-color: #232e93;
}

/* ------------------------- Articles ----------------------- */
.container-articles {
    display: flex;
    flex-direction: row;
    /* put the containers "article" one by one in a single row */
    margin: 40px;
    align-items: flex-start;
    justify-content: space-around;
    padding: 10px;
    /* border: 2px solid #4c0c0c; */
}
.article img {
    position: relative;
    height: 300px;
    width: 100%;
}
.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #d2dae2;
    margin-left: 10px;
    margin-right: 10px;
    width: 400px;
    height: 600px;
    text-align: center;
    border: 2px solid black;
}
.article p {
.article p {
    text-align: center;
    text-align: center;
    text-indent: 20px;
    font-style: italic;
}
    background-color: #0a0a23;
    background-color:#0a0a23;
    border: none;
    border-radius: 30px;
    padding: 15px;
    margin: 10px;
    min-height: 30px;
    min-height:30px; 
    min-width: 120px;
}
    background-color: #0000ff;
    background-color:#0000ff;
    height:auto;
    width:auto;
    transition: 1s;
.button a {
    border: none;
    border:none; 
    color: #ffffff;
    color:#ffffff;
.button a:hover {
.button a:hover{
    font-size: 18px;
}
.article-title {
    text-align: center;
    text-shadow: 0px -6px 10px #0000ff;
    text-shadow:  0px -6px 10px #0000ff;
    /* X axes and Y axes, values specify the shadow's distance from the text. If the number is with minus, the shadow appears to the left from the text */
    /* on Y axes, if the value is with+, the shadow appears over the text, otherwise under the text */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.animals-dissapear {
    margin: 20px 40px;
    margin:20px 40px;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.description-animal-title {

    padding: 10px;
    text-align: center;
    font-size: 20px;
    text-shadow: 0px -6px 10px #0000ff;
    text-shadow:  0px -6px 10px #0000ff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
.description-animal p {
.description-animal p{
    padding: 10px;
.description-animal {
   
    text-align: justify;
    text-indent: 20px;
hr.style-line {
hr.style-line{
    border: 2px solid #0000ff;
}
.image-animals {
.image-animals{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns:  1fr 1fr 1fr;
    margin: 40px;
    padding: 50px;
    height: 600px;
    height:600px;
    /* put the elements on rows with 3 elements per row with a space-between them 10px*/
.gallery-foto {
    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
.gallery-foto img {
    height: 250px;
    width: 350px;
    width:350px;
    filter: grayscale(100%);
    filter:grayscale(100%);
    /* make the images in greyscale */
    transition: filter 1s;
    border: 2px solid black;


/* .gallery-foto img:hover{
    cursor: pointer;
    filter:none;
    
.image__overlay {
    position: absolute;
    position:absolute;
    height: 250px;
    width: 350px;
    width:350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
.image__title {
.image__title{
    padding: 5px;
    text-align: center;
    font-size: 30px;
    color: #e30000;
    color:#e30000;
}
    text-align: justify;
    text-align: justify ;
    color: rgb(255, 255, 255);

.gallery-foto:hover img {
.gallery-foto:hover img{
    filter: grayscale(0%);

}
.gallery-foto:hover .image__overlay {
    visibility: visible;
}
  }
